<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>登录记录 - 网侦社后台管理系统</title>
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/style.css">
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/font-awesome.min.css">
  <link rel="apple-touch-icon-precomposed" href="Public/admin/images/icon/icon.png">
  <link rel="shortcut icon" href="Public/admin/images/icon/favicon.ico">
  <script src="Public/admin/JS/jquery-2.1.4.min.js"></script>
  <!--[if gte IE 9]>
  <script src="Public/admin/JS/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/html5shiv.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/respond.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/selectivizr-min.js" type="text/javascript"></script>
  <![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="?c=Index&a=main">AdcodeBlog</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.php">回到首页 <span class="badge"></span></a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><{$smarty.session.username}> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="?c=Index&a=personal">个人主页</a></li>
                <li><a title="查看您的登录记录" data-toggle="modal" data-target="#seeUserLoginlog">登录记录</a></li>
              </ul>
            </li>
            <li><a href="?c=Login&a=logout" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
            <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=main">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=article">文章</a></li>
        <li><a href="?c=Index&a=notice">公告</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="网站暂无评论功能">评论</a></li>
        <li><a data-toggle="tooltip" data-placement="top" title="网站暂无留言功能">留言</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=category">栏目</a></li>
        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
          <ul class="dropdown-menu" aria-labelledby="otherMenu">
            <li><a href="?c=Index&a=flink">友情链接</a></li>
            <li><a data-toggle="modal" data-target="#areDeveloping">访问记录</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="?c=Index&a=user">管理用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a>管理登录日志</a></li>
          </ul>
        </li>
        <li><a href="?c=Index&a=Member">成员</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="raceMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">新生赛</a>
          <ul class="dropdown-menu" aria-labelledby="raceMenu">
            <li><a href="?c=Index&a=paper">考试设置</a></li>
            <li><a href="?c=Index&a=ques">题库设置</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <h1 class="page-header">操作</h1>
      <ol class="breadcrumb">
        <li><a href="?c=User&a=clearAllLogs" onclick="return confirm('你确定要删除吗？')">清除所有登录记录</a></li>
        <li><a href="?c=User&a=clearSelfLogs" onclick="return confirm('你确定要删除吗？')">清除本人登录记录</a></li>
      </ol>
      <h1 class="page-header">管理 <span class="badge"><{count($loginlogs)}></span></h1>

      <form id="search-form" action="?c=Index&a=loginlog&currentPage=<{$page.currentPage}>&pageSize=<{$page.pageSize}>" method="post" role="search">
        <label for="search-select">选择用户：</label>
        <select id="search-select" name="select" class="form-control-static">
          <option selected></option>
          <{foreach $users as $user}>
            <option value="<{$user.username}>" <{if $select == $user.username}>selected<{/if}> ><{$user.username}></option>
          <{/foreach}>

        </select>
        <span>
            <button class="btn btn-default" type="submit">筛选</button>
        </span>

      </form>


      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
              <th><span class="glyphicon glyphicon-user"></span> <span class="visible-lg">用户</span></th>
              <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">时间</span></th>
              <th><span class="glyphicon glyphicon-adjust"></span> <span class="visible-lg">IP</span></th>
              <th><span class="glyphicon glyphicon-remove"></span> <span class="visible-lg">删除</span></th>
            </tr>
          </thead>
          <tbody>
          <{foreach $loginlogs as $loginlog}>
            <tr>
              <td><{$loginlog.id}></td>
              <td class="article-title"><{$loginlog.username}></td>
              <td><{$loginlog.login_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
              <td><{$loginlog.login_ip}></td>
              <td><a href="?c=User&a=deleteLog&id=<{$loginlog.id}>" onclick="return confirm('你确定要删除吗？')">删除</a></td>
            </tr>
          <{/foreach}>

          </tbody>
        </table>
      </div>
      <footer class="message_footer">
        <nav aria-label="Page navigation" style="margin-top: 50px">
          <input type="text" name="pagenumber" value="1" hidden />
          <ul class="pagination pagenav"></ul>
        </nav>
      </footer>
    </div>
  </div>
</section>
<!--个人登录记录模态框-->
<div class="modal fade" id="seeUserLoginlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >登录记录</h4>
      </div>
      <div class="modal-body">
        <table class="table" style="margin-bottom:0;">
          <thead>
          <tr>
            <th>登录IP</th>
            <th>登录时间</th>
            <th>状态</th>
          </tr>
          </thead>
          <tbody>
          <{foreach $login_logs as $log}>
            <tr>
              <td><{$log.login_ip}></td>
              <td><{$log.login_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
              <td>成功</td>
            </tr>
          <{/foreach}>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
  <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
      </div>
      <div class="modal-body" style="text-align:center"> <img src="Public/admin/images/weixin.jpg" alt="" style="cursor:pointer"/> </div>
    </div>
  </div>
</div>
<!--提示模态框-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
      </div>
      <div class="modal-body"> <img src="Public/admin/images/baoman/baoman_01.gif" alt="深思熟虑" />
        <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<script src="Public/admin/JS/bootstrap.min.js"></script>
<script src="Public/admin/JS/admin-scripts.js"></script>
<script>

  $(document).ready(function () {

    //pageSize值的回显
    //获取selectTag
    let selectTag = $("#pageSize");
    //获取自定义参数pageSize的值
    let pageSize = selectTag.attr("data-pageSize");
    //获取selectTag的孩子中value值为pageSize的optionTag
    let optionTag = selectTag.children('option').filter('[value="'+ pageSize +'"]');
    //为该Tag设定为默认选中
    optionTag.attr("selected", true);

    //禁用确认重新提交表单
    window.history.replaceState(null, null, window.location.href);

    //分页
    let total = <{$rows}>; // 数据总条数
    let PageIndex = <{$page.currentPage}>; // 当前页
    let PageSize = <{$page.pageSize}>; //每页显示条数
    let pageHtml = $(".pagination"); // 分页栏
    let totalPage = <{$page.pageCount}>; // 获取到总页数

    function setPages() {
      let pageBtnPrev =
              "<li class='page-item btnPrev'><a href='<{$page.url}>&currentPage="+ (PageIndex-1) +"&pageSize="+ PageSize +"' class='page-link' aria-label='Previous'><span aria-hidden='true'>«</span></a ></li>";
      let pageBtnNext =
              "<li class='page-item btnNext'><a href='<{$page.url}>&currentPage="+ (PageIndex+1) +"&pageSize="+ PageSize +"' class='page-link' aria-label='Next'><span aria-hidden='true'>»</span></a></li>";

      pageHtml.append(pageBtnPrev); // 添加左按钮
      // 第一页
      let firstPage = $(
              "<li class='page-item' pagenumber=1><a href='<{$page.url}>&currentPage=1&pageSize="+ PageSize +"' class='page-link'>1</a ></li> "
      );
      // 最后一页
      let lastPage = $(
              "<li class='page-item' pagenumber='" +
              totalPage +
              "'><a href='<{$page.url}>&currentPage="+ totalPage +"&pageSize="+ PageSize +"' class='page-link'>" +
              totalPage +
              "</a ></li>"
      );
      // 左省略号
      let leftOmitPage = $(
              "<li class='page-item' id='leftOmit'><a class='page-link'>...</a></li>"
      );
      // 右省略号
      let rightOmitPage = $(
              "<li class='page-item' id='rightOmit'><a class='page-link'>...</a></li>"
      );
      // 左省略号图标
      let leftOmitIcon = $(
              "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-left' viewBox='0 0 16 16'>" +
              "<path fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>"
      );
      // 右省略号图标
      let rightOmitIcon = $(
              "<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-chevron-right' viewBox='0 0 16 16'>" +
              "<path fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>"
      );

      // 总页数小于等于10页全部显示
      if (totalPage <= 10) {
        for (let i = 1; i <= totalPage; i++) {
          pageHtml.append(
                  $(
                          "<li class='page-item' pagenumber=" +
                          i +
                          "><a href='<{$page.url}>&currentPage="+ i +"&pageSize="+ PageSize +"' class='page-link'>" +
                          i +
                          "</a ></li> "
                  )
          );
        }
      } else if (PageIndex <= 8) {
        //总页数大于10且当前页远离总页数
        for (let i = 1; i <= 9; i++) {
          pageHtml.append(
                  $(
                          "<li class='page-item' pagenumber=" +
                          i +
                          "><a href='<{$page.url}>&currentPage="+ i +"&pageSize="+ PageSize +"' class='page-link'>" +
                          i +
                          "</a ></li> "
                  )
          );
        }
        pageHtml.append(rightOmitPage);
        pageHtml.append(lastPage);
        //总页数大于10且当前页接近总页数
      } else if (PageIndex > totalPage - 7) {
        pageHtml.append(firstPage);
        pageHtml.append(leftOmitPage);
        for (let i = totalPage - 8; i <= totalPage; i++) {
          pageHtml.append(
                  $(
                          "<li class='page-item' pagenumber=" +
                          i +
                          "><a href='<{$page.url}>&currentPage="+ i +"&pageSize="+ PageSize +"' class='page-link'>" +
                          i +
                          "</a ></li> "
                  )
          );
        }
        //除开上面两个情况 当前页在中间
      } else {
        pageHtml.append(firstPage);
        pageHtml.append(leftOmitPage);
        for (let i = PageIndex - 3; i <= PageIndex + 3; i++) {
          pageHtml.append(
                  $(
                          "<li class='page-item' pagenumber=" +
                          i +
                          "><a href='<{$page.url}>&currentPage="+ i +"&pageSize="+ PageSize +"' class='page-link'>" +
                          i +
                          "</a ></li> "
                  )
          );
        }
        pageHtml.append(rightOmitPage);
        pageHtml.append(lastPage);
      }

      $(".pagination li[pagenumber='" + PageIndex + "']").addClass("active");
      pageHtml.append(pageBtnNext); // 添加右按钮
      //pageHtml.append(pageTips); // 添加右下角items提示栏

      /* 点击页码按钮进行翻页 */
      $(".pagination li[pagenumber]").on("click", function () {
        // 页数跳转
        PageIndex = Number($(this).text()); // 当前页
        $("input[name=pagenumber]").attr("value", PageIndex); // 当前第几页
        $(this).siblings("li").removeClass("active");
        $(this).addClass("active");
        pageHtml.empty();
        setPages();
      });

      /* 点击按钮进行翻页 */
      $(".btnPrev").on("click", function () {
        // 向左翻页
        if (PageIndex > 1) {
          PageIndex--;
          pageHtml.empty();
          setPages();
        }
        $(this).addClass("disabled");
      });
      $(".btnNext").on("click", function () {
        // 向右翻页
        if (PageIndex < totalPage) {
          PageIndex++;
          pageHtml.empty();
          setPages();
        }
        $(this).addClass("disabled");
      });

      /* 点击左省略号向左翻页 */
      $("#leftOmit").click(function () {
        if (PageIndex > 10) {
          PageIndex -= 10;
          pageHtml.empty();
          setPages();
        }
      });
      /* 点击右省略号向右翻页 */
      $("#rightOmit").click(function () {
        if (PageIndex <= totalPage - 10) {
          PageIndex += 10;
          pageHtml.empty();
          setPages();
        }
      });
      /* 左省略号移入移出 */
      $("#leftOmit").mouseenter(function () {
        $(this).children().html(leftOmitIcon);
      });
      $("#leftOmit").mouseleave(function () {
        $(this).children().html("...");
      });
      /* 右省略号移入移出 */
      $("#rightOmit").mouseenter(function () {
        $(this).children().html(rightOmitIcon);
      });
      $("#rightOmit").mouseleave(function () {
        $(this).children().html("...");
      });

    }


    setPages();
  });

  //添加选择pageSize选项
  function addChangePageSize() {

    let pageSizeList = [5, 10, 20];
    let select = "<li><select id='pageSize' name='pageSize' class='form-control-static' onchange='change()' data-pageSize='"+ <{$page.pageSize}> +"'>";
    for(let i = 0; i < pageSizeList.length; i++){
      select += "<option value='"+ pageSizeList[i] +"'>" + pageSizeList[i] + "条/页</option>";
    }
    select += "</select></li>";

    $(".pagination").append(select);

  }

  //重定向页面
  function change() {
    let pageSize = $("#pageSize option:selected").attr("value");
    $("#search-form").submit();
    window.location.href="<{$page.url}>&currentPage=<{$page.currentPage}>&pageSize=" + pageSize;
  }

  addChangePageSize();

</script>
</body>
</html>