<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网侦研学社 | 新生赛排行</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="Public/home/CSS/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="Public/home/CSS/lightbox.css">
    <!-- jQuery (necessary JavaScript plugins) -->
    <script src="Public/home/JS/bootstrap-3.1.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="Public/home/CSS/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->

    <link rel="stylesheet" href="Public/home/CSS/blog/main.css">

    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />

    <script src="Public/home/JS/jquery.min.js"></script>
</head>
<body>
<!-- header -->
<div class="top-header">
    <div class="container">
        <div class="logo">
            <h1><a href="?c=Index&a=index"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>网侦研学社</a></h1>
        </div>
    </div>
</div>
<!---->
<div class="top-menu">
    <div class="hello"><a href="admin.php">进入后台</a></div>
    <{if $isLogin}>
        <div class="hello">hello！<{$smarty.session.username}></div>
    <{/if}>
    <div class="container">
        <div class="content white">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--/navbar header-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="?c=Index&a=index">主页</a></li>
                        <li><a href="?c=Index&a=blog">笔记分享</a></li>
                        <li class="dropdown active"  style="cursor: pointer">
                            <a class="scroll dropdown-toggle" data-toggle="dropdown">新生赛<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a class="scroll" href="?c=Index&a=race">新生赛入口</a></li>
                                <li class="active"><a class="scroll">新生赛排行</a></li>
                            </ul>
                        </li>
                        <li><a href="?c=Index&a=member">成员名单</a></li>
                        <li><a href="?c=Index&a=medal">画廊</a></li>
                        <li><a href="?c=Index&a=contact">联系我们</a></li>
                        <li>
                            <{if $isLogin}>
                                <a href="?c=Login&a=logout" onclick="return confirm('您确定要登出？')">登出</a>
                            <{else}>
                                <a href="?c=Login&a=index">登录</a>
                            <{/if}>
                        </li>

                    </ul>
                </div>
                <!--/navbar collapse-->
            </nav>
            <!--/navbar-->
        </div>
        <div class="clearfix"></div>
        <script type="text/javascript" src="Public/home/JS/jquery.min.js"></script>
        <script type="text/javascript" src="Public/home/JS/bootstrap-3.1.1.min.js"></script>
    </div>
</div>

<div class="about">
    <div class="container">
        <h2>历届考试排行榜</h2>
        <div class="about-grids">
            <div class="col-md-6 about-list">
                <ul>
                    <{foreach $papers as $paper}>
                        <li><a href="?c=Index&a=rank_dynamic&id=<{$paper.id}>"><{$paper.title}></a></li>
                    <{/foreach}>

                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<!-- footer -->
<div class="cqpc">
    <div class="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-6 news-ltr">
                    <img style="margin-bottom: 20px" src="Public/home/images/cqpc.png" alt="">
                    <p style="margin: 20px 0;color: #F0F0EE">地址：重庆市沙坪坝区大学城景铮路</p>
                    <p style="margin: 20px 0;color: #F0F0EE">邮编：401331</p>

                </div>
                <div style="color: #F0F0EE" class="col-md-6 news-ltr">
                    <p style="margin: 20px 0;color: #F0F0EE">信息管理：重庆警察学院网侦研学社</p>
                    <p style="margin: 20px 0;color: #F0F0EE">技术维护：网侦研学社开发组</p>
                    <span>今日访问量：<{$visLog.today}></span>|
                    <span>昨日访问量：<{$visLog.yesterday}></span>|
                    <span>总访问量：<{$visLog.total}></span>|
                    <span>本月访问量：<{$visLog.month}></span>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

<div class="copywrite">
    <div class="container">
        <p> © 2023 网侦研学社. All rights reserved</p>
    </div>
</div>

<script>
</script>
</body>
</html>