<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>修改栏目 - 网侦社后台管理系统</title>
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/style.css">
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/font-awesome.min.css">
  <link rel="apple-touch-icon-precomposed" href="Public/admin/images/icon/icon.png">
  <link rel="shortcut icon" href="Public/admin/images/icon/favicon.ico">
  <script src="Public/admin/JS/jquery-2.1.4.min.js"></script>
  <!--[if gte IE 9]>
  <script src="Public/admin/JS/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/html5shiv.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/respond.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/selectivizr-min.js" type="text/javascript"></script>
  <![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="?c=Index&a=main">AdcodeBlog</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.php">回到首页 <span class="badge"></span></a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><{$smarty.session.username}> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="?c=Index&a=personal">个人主页</a></li>
                <li><a title="查看您的登录记录" data-toggle="modal" data-target="#seeUserLoginlog">登录记录</a></li>
              </ul>
            </li>
            <li><a href="?c=Login&a=logout" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
            <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=main">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=article">文章</a></li>
        <li><a href="?c=Index&a=notice">公告</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="网站暂无评论功能">评论</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="网站暂无留言功能">留言</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="?c=Index&a=category">栏目</a></li>
        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
          <ul class="dropdown-menu" aria-labelledby="otherMenu">
            <li><a href="?c=Index&a=flink">友情链接</a></li>
            <li><a data-toggle="modal" data-target="#areDeveloping">访问记录</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="?c=Index&a=user">管理用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="?c=Index&a=loginlog">管理登录日志</a></li>
          </ul>
        </li>
        <li><a href="?c=Index&a=Member">成员</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="raceMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">新生赛</a>
          <ul class="dropdown-menu" aria-labelledby="raceMenu">
            <li><a href="?c=Index&a=paper">考试设置</a></li>
            <li><a href="?c=Index&a=ques">题库设置</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <h1 class="page-header">修改栏目</h1>
      <form action="?c=Category&a=updateCategory&id=<{$id}>" method="post" onsubmit="return checkForm()">
        <div class="form-group">
          <label for="category-name">栏目名称</label>
          <input type="text" id="category-name" name="name" value="<{$category.name}>" class="form-control" placeholder="在此处输入栏目名称" required autocomplete="off">
          <span class="prompt-text">这将是它在站点上显示的名字。</span> </div>
        <div class="form-group">
          <label for="category-alias">栏目别名</label>
          <input type="text" id="category-alias" name="alias" value="<{$category.alias}>" class="form-control" placeholder="在此处输入栏目别名" required autocomplete="off">
          <span class="prompt-text">“别名”是在URL中使用的别称，它可以令URL更美观。通常使用小写，只能包含字母，数字和连字符（-）。</span>
        </div>
        <div class="form-group">
          <label for="category-orderby">栏目排序</label>
          <input type="text" id="category-orderby" name="orderby" value="<{$category.orderby}>" class="form-control" placeholder="在此处输入栏目排序" required autocomplete="off">
          <span class="prompt-text">0-50的整数，数字越小排序越靠前。</span>
        </div>
        <div class="form-group">
          <label for="category-pid">父节点</label>
          <select id="category-pid" class="form-control" name="pid" data-pid="<{$category.pid}>" disabled>
            <option value="0">&#x2192;无</option>
            <{foreach $categories as $c}>
            <{if $c.id == $category.pid}>
            <option value="<{$c.id}>">
              <{str_repeat("&nbsp;&nbsp;", $c.level)}>
              &#x2192;
              <{$c.name}>
            </option>
            <{/if}>
            <{/foreach}>
          </select>
          <span class="prompt-text">栏目是有层级关系的，您可以有一个“音乐”分类目录，在这个目录下可以有叫做“流行”和“古典”的子目录。</span> </div>
        <div class="form-group">
          <label for="category-keywords">关键字</label>
          <input type="text" id="category-keywords" name="keywords" value="<{$category.keywords}>" class="form-control" placeholder="在此处输入栏目关键字" autocomplete="off">
          <span class="prompt-text">关键字会出现在网页的keywords属性中，推荐使用英文逗号分隔，例如：HTML,CSS+DIV,JavaScript,jQuery。</span> </div>
        <div class="form-group">
          <label for="category-description">描述</label>
          <textarea class="form-control" id="category-description" name="description" rows="4" autocomplete="off"><{$category.description}></textarea>
          <span class="prompt-text">描述会出现在网页的description属性中。</span> </div>
        <button class="btn btn-primary" type="submit" name="submit">更新</button>
      </form>
    </div>
  </div>
</section>
<!--个人登录记录模态框-->
<div class="modal fade" id="seeUserLoginlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >登录记录</h4>
      </div>
      <div class="modal-body">
        <table class="table" style="margin-bottom:0px;">
          <thead>
          <tr>
            <th>登录IP</th>
            <th>登录时间</th>
            <th>状态</th>
          </tr>
          </thead>
          <tbody>
          <{foreach $login_logs as $log}>
          <tr>
            <td><{$log.login_ip}></td>
            <td><{$log.login_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
            <td>成功</td>
          </tr>
          <{/foreach}>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
  <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
      </div>
      <div class="modal-body" style="text-align:center"> <img src="Public/admin/images/weixin.jpg" alt="" style="cursor:pointer"/> </div>
    </div>
  </div>
</div>
<!--提示模态框-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
      </div>
      <div class="modal-body"> <img src="Public/admin/images/baoman/baoman_01.gif" alt="深思熟虑" />
        <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<script src="Public/admin/JS/bootstrap.min.js"></script>
<script src="Public/admin/JS/admin-scripts.js"></script>
<script>
  //父节点pid值的回显
  $(document).ready(function () {
    //获取selectTag
    let selectTag = $("#category-pid");
    //获取自定义参数本分类pid的值
    let pid = selectTag.attr("data-pid");
    //获取selectTag的孩子中value值为pid的optionTag
    let optionTag = selectTag.children('option').filter('[value="'+ pid +'"]');
    //为该Tag设定为默认选中
    optionTag.attr("selected", true);
  });

  function checkForm() {
    let reg = /^(?:[1-9]|[1-4][0-9]|50|0)$/;
    if (!reg.test($("#category-orderby").val()) ) {
      alert("排序值不合法，请输入0-50之间的正整数");
      $("#category-orderby").focus();
      return false;
    }
  }
</script>
</body>
</html>
