<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>文章修改 - 网侦社后台管理系统</title>
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/style.css">
  <link rel="stylesheet" type="text/css" href="Public/admin/CSS/font-awesome.min.css">
  <link rel="stylesheet" href="Public/admin/lib/mdEditor/css/editormd.min.css">
  <link rel="apple-touch-icon-precomposed" href="Public/admin/images/icon/icon.png">
  <link rel="shortcut icon" href="Public/admin/images/icon/favicon.ico">
  <script src="Public/admin/JS/jquery-2.1.4.min.js"></script>
  <!--[if gte IE 9]>
  <script src="Public/admin/JS/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/html5shiv.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/respond.min.js" type="text/javascript"></script>
  <script src="Public/admin/JS/selectivizr-min.js" type="text/javascript"></script>
  <![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<section class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="?c=Index&a=main">AdcodeBlog</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.php">回到首页 <span class="badge"></span></a></li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><{$smarty.session.username}> <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-left">
                <li><a href="?c=Index&a=personal">个人主页</a></li>
                <li><a title="查看您的登录记录" data-toggle="modal" data-target="#seeUserLoginlog">登录记录</a></li>
              </ul>
            </li>
            <li><a href="?c=Login&a=logout" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
            <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=main">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li class="active"><a href="?c=Index&a=article">文章</a></li>
        <li><a href="?c=Index&a=notice">公告</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="网站暂无评论功能">评论</a></li>
        <li><a data-toggle="tooltip" data-placement="bottom" title="网站暂无留言功能">留言</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="?c=Index&a=category">栏目</a></li>
        <li><a class="dropdown-toggle" id="otherMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">其他</a>
          <ul class="dropdown-menu" aria-labelledby="otherMenu">
            <li><a href="?c=Index&a=flink">友情链接</a></li>
            <li><a data-toggle="modal" data-target="#areDeveloping">访问记录</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">用户</a>
          <ul class="dropdown-menu" aria-labelledby="userMenu">
            <li><a href="?c=Index&a=user">管理用户</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="?c=Index&a=loginlog">管理登录日志</a></li>
          </ul>
        </li>
        <li><a href="?c=Index&a=Member">成员</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a class="dropdown-toggle" id="raceMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">新生赛</a>
          <ul class="dropdown-menu" aria-labelledby="raceMenu">
            <li><a href="?c=Index&a=paper">考试设置</a></li>
            <li><a href="?c=Index&a=ques">题库设置</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="?c=Article&a=updateArticle&id=<{$article.id}>" method="post" class="add-article-form">
          <div class="col-md-9">
            <h1 class="page-header">文章修改</h1>
            <div class="form-group">
              <label for="article-title" class="sr-only">标题</label>
              <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题" value="<{$article.title}>" required autofocus autocomplete="off" maxlength="50">
            </div>
            <div class="form-group">
              <div id="md-content">
                <textarea name="content" placeholder="博客内容" style="display: none;"><{$article.content}></textarea>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>描述</span></h2>
              <div class="add-article-box-content">
              	<textarea class="form-control" name="description" autocomplete="off" maxlength="80"><{$article.description}></textarea>
                <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <h1 class="page-header">操作</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>栏目</span></h2>
              <div class="add-article-box-content">
                <ul id="category-list" class="category-list">
                  <li>
                    <label>
                      <input name="category" type="radio" value="0" required <{if $article.category_id == ""}>checked<{/if}>>
                      无
                    </label>
                  </li>
                  <{foreach $categories as $c}>
                    <li>
                      <label>
                        <input name="category" type="radio" value="<{$c.id}>" required <{if $article.category_id == $c.id}>checked<{/if}>>
                        <{str_repeat("&nbsp;&nbsp", $c.level)}><{$c.name}>
                        <em class="hidden-md">
                          ( 栏目ID: <span><{$c.id}></span> )
                        </em>
                      </label>
                    </li>
                  <{/foreach}>
                </ul>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>标签</span></h2>
              <div class="add-article-box-content">
                <input type="text" class="form-control" placeholder="输入新标签" value="<{$article.tag}>" name="tag" autocomplete="off">
                <span class="prompt-text">多个标签请用英文逗号,隔开</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>排序</span></h2>
              <div class="add-article-box-content">
                <input id="article-orderby" type="text" class="form-control" placeholder="请输入排序字段" name="orderby" value="<{$article.orderby}>" autocomplete="off">
                <span class="prompt-text">0-50的整数，数字越小排序越靠前</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>是否置顶</span></h2>
              <div class="add-article-box-content">
                <ul class="category-list">
                  <li>
                    <label>
                      <input name="top" type="radio" value="1" required <{if $article.top == 1}>checked<{/if}>>
                      是
                    </label>
                  </li>
                  <li>
                    <label>
                      <input name="top" type="radio" value="0" required <{if $article.top == 0}>checked<{/if}>>
                      否
                    </label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>发布</span></h2>
              <div class="add-article-box-content">
              	<p><label>状态：</label><span class="article-status-display">已发布</span></p>
                <p>
                  <label>公开度：</label>
                  <input type="radio" name="visibility" value="1" <{if $article.visibility == 1}>checked<{/if}>/>公开
                  <input type="radio" name="visibility" value="0" <{if $article.visibility == 0}>checked<{/if}>/>私密
                </p>
                <p><label>发布于：</label><span class="article-time-display"><{$article.addate|date_format:'%Y-%m-%d %H:%M:%S'}></span></p>
              </div>

              <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">更新</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--个人登录记录模态框-->
<div class="modal fade" id="seeUserLoginlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" >登录记录</h4>
      </div>
      <div class="modal-body">
        <table class="table" style="margin-bottom:0px;">
          <thead>
          <tr>
            <th>登录IP</th>
            <th>登录时间</th>
            <th>状态</th>
          </tr>
          </thead>
          <tbody>
          <{foreach $login_logs as $log}>
          <tr>
            <td><{$log.login_ip}></td>
            <td><{$log.login_time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
            <td>成功</td>
          </tr>
          <{/foreach}>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<!--微信二维码模态框-->
<div class="modal fade user-select" id="WeChat" tabindex="-1" role="dialog" aria-labelledby="WeChatModalLabel">
  <div class="modal-dialog" role="document" style="margin-top:120px;max-width:280px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="WeChatModalLabel" style="cursor:default;">微信扫一扫</h4>
      </div>
      <div class="modal-body" style="text-align:center"> <img src="Public/admin/images/weixin.jpg" alt="" style="cursor:pointer"/> </div>
    </div>
  </div>
</div>
<!--提示模态框-->
<div class="modal fade user-select" id="areDeveloping" tabindex="-1" role="dialog" aria-labelledby="areDevelopingModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="areDevelopingModalLabel" style="cursor:default;">该功能正在日以继夜的开发中…</h4>
      </div>
      <div class="modal-body"> <img src="Public/admin/images/baoman/baoman_01.gif" alt="深思熟虑" />
        <p style="padding:15px 15px 15px 100px; position:absolute; top:15px; cursor:default;">很抱歉，程序猿正在日以继夜的开发此功能，本程序将会在以后的版本中持续完善！</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">朕已阅</button>
      </div>
    </div>
  </div>
</div>
<script src="Public/admin/JS/bootstrap.min.js"></script>
<script src="Public/admin/JS/admin-scripts.js"></script>
<script src="Public/admin/lib/mdEditor/editormd.min.js"></script>
<script type="text/javascript">
  // md集成
  var contentEditor;
  $(function() {
    contentEditor = editormd("md-content", {
      width   : "100%",
      height  : 640,
      syncScrolling : "single",
      path    : "Public/admin/lib/mdEditor/lib/"
    });
  });

  function checkForm() {
    let reg = /^(?:[1-9]|[1-4][0-9]|50|0)$/;
    if (!reg.test($("#article-orderby").val())) {
      alert("排序值不合法，请输入0-50之间的正整数");
      $("#article-orderby").focus();
      return false;
    }
  }
</script>
</body>
</html>